*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    
}

html{
    
}
 h1{
     font-size: 30px;
 }

p{
    font-size: 15px;
   padding-top: 20px;
    
}
img {  
    max-width: 100%;  
    height: auto;  
    border-radius: 20px;
}  

main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    background-color: white;
    padding: 20px;
    text-align: center;
    gap: 30px;
    border-radius: 20px;
}

.text{
padding: 0 10px;
}

